.flex{
  position: absolute;
  top: 1354px;
  display: flex;

  article{
    height: 323px;
    width: 255px;
  }
  .icon{
    width: 65px;
    height: 65px;
    background-color: hsla(22, 88%, 52%, 1);
    background-repeat: no-repeat;

  }


  #highComp{
    margin-left: 183px;

  }
  #icon-compatible{
    position: inherit;
    

  }
  .iconics{
    background-image: url(/starter-code/assets/shared/icon-compatible.svg);
  }
}