@media only screen and (max-width: 768px) {
  #logo{
    left: 49px !important;
  }
  button{
    margin-left: 553px !important;
  }
  #typemaster{
    h1{
      font-size: 48px !important;
      line-height: 48px !important;
      margin-bottom: 34px !important;
    }
    p{
      font-size: 16px !important;
      width: 339px !important;
    }
  }
}