@media only screen and (max-width: 768px) {
  main{
    grid-template-areas: 'tk tk kb kb'
                         'rk gk gk gk'
                         'mw mw mw mw' !important;

  #left-side-bar{
    display: none !important;
  }
  #right-side-bar{
    display: none !important;
  }
  } 
  header{

    #logo{
      left: 39px !important;
    }
    button{
      margin-left: 447px !important;
    }
  }
  #typemaster{

    h1{
      font-size: 48px !important;
      line-height: 48px !important;
      margin-left: 112px !important;
    }
    p{
      width: 339px !important;
      margin-left: 112px !important;

    }
    #keyboard{
      height: 425px !important;

    }
  }
  
  
  #text-box{
  display: flex !important;
  width: 80% !important;
  height: 108px !important;
  margin:auto !important;
  }
}