.flex {
  position: absolute;
  top: 1354px;
  display: flex;
}
.flex article {
  height: 323px;
  width: 254px;
  padding-right: 20px;
}
.flex article p {
  color: #7b8cad;
}
.flex article h2 {
  margin-bottom: 20px;
}
.flex .icon {
  width: 65px;
  height: 65px;
  background-color: #f06819;
  border-radius: 10px;
}
.flex #highComp {
  margin-left: 183px;
}
.flex #icon-compatible {
  position: inherit;
}
.flex .iconics {
  position: absolute;
  top: 24px;
  margin-left: 19px;
  background-repeat: no-repeat;
  background-size: contain;
}
.flex .iconics1 {
  background-image: url(/starter-code/assets/shared/icon-compatible.svg);
  width: 25.14px;
  height: 20.24px;
}
.flex .iconics2 {
  background-image: url(/starter-code/assets/shared/icon-bluetooth.svg);
  width: 17.68px;
  height: 27.86px;
  top: 20px;
  margin-left: 21px;
}
.flex .iconics3 {
  background-image: url(/starter-code/assets/shared/icon-battery.svg);
  width: 31.99px;
  height: 20px;
  margin-left: 18px;
}
.flex .iconics4 {
  background-image: url(/starter-code/assets/shared/icon-light.svg);
  width: 32px;
  height: 32px;
  top: 16px;
  margin-left: 16px;
}

main {
  position: absolute;
  top: 143px;
  display: grid;
  grid-gap: 5px;
  width: 100%;
  height: 990px;
  margin-top: 15px;
  grid-template-areas: "lb tk tk kb kb rb" "lb rk gk gk mw rb";
}
main #left-side-bar {
  grid-area: lb;
  position: absolute;
  width: 135.8px;
  height: 100%;
}
main #left-side-bar p {
  position: absolute;
  width: 135px;
  height: 236px;
  bottom: 10px;
  background-color: #E8EFF2;
  border-radius: 0 20px 20px 0;
}
main #typemaster {
  grid-area: tk;
  position: absolute;
  width: 445px;
  height: 312px;
  left: -74px;
  top: 123px;
}
main #typemaster h1 {
  font-family: Barlow;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
main #typemaster p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 30px;
  font-size: 18px;
  color: #7b8bad;
}
main #typemaster button {
  height: 58px;
  width: 175px;
  left: 0px;
  top: 254px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  position: absolute;
  background-color: #f06819;
  color: #ffffff;
  border: none;
}
main #typemaster button:hover {
  background-color: #FF9B62;
  cursor: pointer;
}
main #typemaster #releaseOn {
  margin-left: 214px;
  margin-top: 81px;
  text-transform: uppercase;
}
main #keyboard {
  left: 16px;
  grid-area: kb;
  background-image: url(/starter-code/assets/mobile/image-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 540px;
  height: 480px;
  border-radius: 15px;
  background-size: contain;
}
main #phone-and-keyboard {
  grid-area: rk;
  background: #f06819;
  background-image: url(/starter-code/assets/desktop/image-phone-and-keyboard.jpg);
  width: 255px;
  height: 480px;
  position: absolute;
  left: -70px;
  border-radius: 15px;
  background-size: contain;
  background-blend-mode: multiply;
}
main #glass-and-keyboard {
  grid-area: gk;
  position: absolute;
  width: 445px;
  height: 480px;
  background-image: url(/starter-code/assets/desktop/image-glass-and-keyboard.jpg);
  left: -40px;
  border-radius: 15px;
  background-size: contain;
}
main #text-box {
  grid-area: mw;
  position: absolute;
  width: 255px;
  height: 265px;
  left: 50px;
  top: 120px;
}
main #text-box p {
  padding-right: 5px;
}
main h2 {
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
main p {
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #7b8bad;
}
main #right-side-bar {
  grid-area: rb;
  border: 1px solid;
  position: absolute;
  width: 135.8px;
  float: right;
  height: 100%;
  left: 98px;
}

header {
  position: absolute;
  width: 100%;
  top: 64px;
  height: 57px;
}
header #logo {
  background-image: url(/starter-code/assets/shared/logo.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 165px;
  top: 9px;
}
header button {
  margin-left: 1100px;
  width: 175px;
  height: 58px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #162441;
  border-radius: 8px;
  border: none;
}
header button:hover {
  background-color: #162542;
  color: white;
  cursor: pointer;
}

footer {
  position: absolute;
  top: 1805px;
  width: 100%;
  text-align: center;
  color: #7b8cad;
}

@media only screen and (max-width: 768px) {
  main {
    grid-template-areas: "tk tk kb kb" "rk gk gk gk" "mw mw mw mw" !important;
  }
  main #left-side-bar {
    display: none !important;
  }
  main #right-side-bar {
    display: none !important;
  }

  header #logo {
    left: 39px !important;
  }
  header button {
    margin-left: 447px !important;
  }

  #typemaster h1 {
    font-size: 48px !important;
    line-height: 48px !important;
    margin-left: 112px !important;
  }
  #typemaster p {
    width: 339px !important;
    margin-left: 112px !important;
  }
  #typemaster #keyboard {
    height: 425px !important;
  }

  #text-box {
    display: flex !important;
    width: 80% !important;
    height: 108px !important;
    margin: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Barlow", sans-serif;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */