.flex {
  position: absolute;
  top: 1354px;
  display: flex;
}
.flex article {
  height: 323px;
  width: 255px;
}
.flex .icon {
  width: 65px;
  height: 65px;
  background-color: #f06819;
  background-repeat: no-repeat;
}
.flex #highComp {
  margin-left: 183px;
}
.flex #icon-compatible {
  background-image: url(/starter-code/assets/shared/icon-compatible.svg);
  position: inherit;
}

main {
  position: absolute;
  top: 143px;
  display: grid;
  grid-gap: 5px;
  width: 100%;
  height: 990px;
  margin-top: 15px;
  grid-template-areas: "lb tk tk kb kb rb" "lb rk gk gk mw rb";
}
main #left-side-bar {
  grid-area: lb;
  border: 1px solid;
  position: absolute;
  width: 135.8px;
  height: 100%;
}
main #typemaster {
  grid-area: tk;
  position: absolute;
  width: 445px;
  height: 312px;
  left: -74px;
  top: 123px;
}
main #typemaster h1 {
  font-family: Barlow;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
main #typemaster p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 30px;
  font-size: 18px;
  color: #7b8bad;
}
main #typemaster button {
  height: 58px;
  width: 175px;
  left: 0px;
  top: 254px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  position: absolute;
  background-color: #f06819;
  color: #ffffff;
  border: none;
}
main #typemaster #releaseOn {
  margin-left: 214px;
  margin-top: 81px;
  text-transform: uppercase;
}
main #keyboard {
  grid-area: kb;
  background-image: url(/starter-code/assets/mobile/image-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 540px;
  height: 480px;
  border-radius: 15px;
  background-size: contain;
}
main #phone-and-keyboard {
  grid-area: rk;
  background: #f06819;
  background-image: url(/starter-code/assets/desktop/image-phone-and-keyboard.jpg);
  width: 255px;
  height: 480px;
  opacity: 0.75;
  position: absolute;
  left: -70px;
  border-radius: 15px;
  background-size: contain;
  background-blend-mode: multiply;
}
main #glass-and-keyboard {
  grid-area: gk;
  position: absolute;
  width: 445px;
  height: 480px;
  background-image: url(/starter-code/assets/desktop/image-glass-and-keyboard.jpg);
  left: -40px;
  border-radius: 15px;
  background-size: contain;
}
main #text-box {
  grid-area: mw;
  position: absolute;
  width: 255px;
  height: 265px;
  left: 50px;
  top: 120px;
}
main #text-box p {
  padding-right: 5px;
}
main h2 {
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
main p {
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #7b8bad;
}
main #right-side-bar {
  grid-area: rb;
  border: 1px solid;
  position: absolute;
  width: 135.8px;
  float: right;
  height: 100%;
  left: 98px;
}

header {
  position: absolute;
  width: 100%;
  top: 64px;
  height: 57px;
}
header #logo {
  background-image: url(/starter-code/assets/shared/logo.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 165px;
  top: 9px;
}
header button {
  margin-left: 1100px;
  width: 175px;
  height: 58px;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #162441;
}

footer {
  position: absolute;
  top: 1805px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Barlow", sans-serif;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */