@import "./variables";
@import "./flex-box_area";
@import "./grid_area";
@import "./header";
@import "./side_bar";
@import "./footer";

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
  font-family: 'Barlow', sans-serif;
  height: 100vh;
}
